* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(130deg, lightblue, lightgreen);
}

.container {
  background-color: rgba(32, 178, 171, 0.4);
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
}

.container h1 {
  margin-bottom: 40px;
}

.dynamic-container h2 {
  margin-bottom: 30px;
}

.dynamic-container p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
  margin-bottom: 20px;
}

.btn {
  padding: 10px 30px;
  font-size: 17px;
  text-transform: uppercase;
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover {
  background-color: aqua;
}
